@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Poppins', sans-serif;
}

.post {
  background-color: cadetblue;
  max-width: 10rem;
  height: fit-content;
  padding: 20px;
  border-radius: 3px;
  margin: 2px;
  color: linear-gradient(black, white);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post .title {
  font-size: .9rem;
}

.post .body {
  font-size: .8rem;
  margin: 10px;
  max-height: 50px;
  
  background-image: linear-gradient(to bottom, rgba(60, 60, 60, .75), rgba(0, 0, 0, 0));
  background-clip: text;
  color: transparent;
}

.column {
  display: flex;
  flex-direction: column;
}